{%load get_stat_by_name%}
{%load get_overall_stat%}

<form method='post'>
    {% csrf_token %}
    {% include "player_info_form.html" with form_for="hitter" %}
    <div class="row my-2">
        <div class="card px-0">
            <div class="card-body">
            {% for stat in hitter_stats%}
            {% if report is not None %}
            {% with report.hitterstats_set.all|get_stat_by_name:stat as stat_report%}
            {% include "stat_control_box.html" with stat=stat stat_report=stat_report%}
            {%endwith%}
            {% else %}
            {% include "stat_control_box.html" with stat=stat%}
            {% endif %}
            {%endfor%}
            <hr class="card-divider" />
            {% if report is not None %}
            {% with report|get_overall_stat as stat_report%}
            {% include "stat_control_box.html" with stat='Overall' stat_report=stat_report%}
            {%endwith%}
            {% else %}
            {% include "stat_control_box.html" with stat='Overall'%}
            {% endif %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn scout-btn">Submit</button>
        </div>
        </div>
        </div>
    </div>
</form>
