{% extends "master.html" %}

{% block title %}
  Scout
{% endblock %}


{% block content %}
    <div class="d-flex mt-2 justify-content-between">
        <h2>Hitter Report</h2>
        <button class="btn scout-btn">Create New Report</button>
    </div>
    <table class="table table-borderless hitter-table mt-2">
      <thead>
        <tr>
          <th>Date</th>
          <th>Org</th>
          <th>Pos</th>
          <th width="50%">Player</th>
          <th>Hit</th>
          <th>Pow</th>
          <th>Run</th>
          <th>Field</th>
          <th>Thr</th>
          <th>OVR</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            test
          </td>
        </tr>
        <tr>
          <td>
            test
          </td>
        </tr>
      </tbody>
    </table>

{% endblock %}
