{% extends "master.html" %}
{% load order_by_custom_stat %}

{% block title %}
  Scout
{% endblock %}


{% block content %}
    <div class="d-flex mt-2 justify-content-between">
        <h2>Hitter Report</h2>
        <a class="btn scout-btn" href="/hitter-report/create">Create New Report</a>
    </div>
    <table class="table table-borderless hitter-table mt-2">
      <thead>
        <tr>
          <th>Date</th>
          <th>Org</th>
          <th>Pos</th>
          <th width="50%">Player</th>
          <th>Hit</th>
          <th>Pow</th>
          <th>Run</th>
          <th>Field</th>
          <th>Thr</th>
          <th>OVR</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
        <tr>
          <td>{{report.date}}</td>
          <td><img src="
            https://www.mlbstatic.com/team-logos/{{report.team}}.svg" /></td>
          <td>{{report.position}}</td>
          <td><a href="/hitter-report/{{report.id}}" class="link-primary">{{report.lastname}}, {{report.firstname}}</a></td>
          {% with report.hitterstats_set.all|order_by_custom_stat as stats %}
          {% for stat in stats %}
            <td>{{ stat.value }}</td>
          {% endfor %}
        {% endwith %}
        <td>
          <div class='d-flex justify-content-between'>
          <a href="/hitter-report/{{report.id}}/edit" class="link-primary pr-3">Edit</a>
          <a href="/hitter-report/{{report.id}}/delete" class="link-danger">Delete</a>
          </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
