{%load get_stat_by_name%}
<form method='post'>
    {% csrf_token %}
    {% include 'player_info_form.html' with form_for="pitcher" %}
    <div class='row my-2'>
        <div class='card px-0'>
            <div class='card-body'>
                {% for id in pitch_ids %}
                <div class='row {% if id == 1 %} mt-2 mb-1 {% elif id == 4 %} mt-1 mb-2 {% else %} my-1 {% endif %}'>
                    {% include "pitch_control_box.html" with id=id pitch_types=pitch_types%}
                </div>
                {% endfor %}
                <hr />
                {% include "stat_control_box.html" with stat="Overall" %}
            </div>
            <div class='card-footer'>
                <button type='submit' class='btn scout-btn'>Submit</button>
            </div>
        </div>
    </div>
</form>

