<div class="row">
    <div class="col-md-2 my-1">
      <label for={{stat}} class="form-label scout-form-label">
        {{stat}}
      </label>
      <select class="form-select" id={{stat}} name={{stat}}>
        <option {% if stat_report is None %} selected {% endif %}>...</option>
        <option value="20" {% if stat_report and stat_report.value == 20%}selected{%endif%}>20</option>
        <option value="30" {% if stat_report and stat_report.value == 30%}selected{%endif%}>30</option>
        <option value="40" {% if stat_report and stat_report.value == 40%}selected{%endif%}>40</option>
        <option value="50" {% if stat_report and stat_report.value == 50%}selected{%endif%}>50</option>
        <option value="60" {% if stat_report and stat_report.value == 60%}selected{%endif%}>60</option>
        <option value="70" {% if stat_report and stat_report.value == 70%}selected{%endif%}>70</option>
        <option value="80" {% if stat_report and stat_report.value == 80%}selected{%endif%}>80</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="fv-{{stat}}" class="form-label scout-form-label">
        FV
      </label>
      <select class="form-select" id="fv-{{stat}}" name="fv{{stat}}">
        <option {% if stat_report is None %} selected {% endif %}>...</option>
        <option value="20" {% if stat_report and stat_report.futurevalue == 20%}selected{%endif%}>20</option>
        <option value="30" {% if stat_report and stat_report.futurevalue == 30%}selected{%endif%}>30</option>
        <option value="40" {% if stat_report and stat_report.futurevalue == 40%}selected{%endif%}>40</option>
        <option value="50" {% if stat_report and stat_report.futurevalue == 50%}selected{%endif%}>50</option>
        <option value="60" {% if stat_report and stat_report.futurevalue == 60%}selected{%endif%}>60</option>
        <option value="70" {% if stat_report and stat_report.futurevalue == 70%}selected{%endif%}>70</option>
        <option value="80" {% if stat_report and stat_report.futurevalue == 80%}selected{%endif%}>80</option>
      </select>
    </div>
    {% if stat != "Overall" %}
    <div class="col-md-8">
      <label for="comment-{{stat}}" class="form-label scout-form-label">
        Comments
      </label>
      <input type="text" class="form-control" id="comment-{{stat}}" name="comment{{stat}}" {% if stat_report and stat_report.comment %}value={{stat_report.comment}}{%endif%} />
    </div>
    {%endif %}
  </div>
