{% extends "master.html" %}
{% load team_id_to_code %}
{% load get_stat_by_name %}
{% load order_by_custom_stat %}

{% block title %} {{report.name}} | Scout {% endblock %}
{% block content %}
<div class='d-flex justify-content-between my-2'>
    <h2>View Hitting Report</h2>
    <div>
        <a href="/hitter-report/create" class='btn scout-btn mr-2'>Create New Report</a>
        <a href="/" class='btn scout-btn'>Back to Reports</a>
    </div>
</div>
{% include 'player_info.html' with report=report type='hitter' %}
<table class='table table-borderless hitter-table mt-2'>
    <thead>
        <tr>
            <th>Grade/FV</th>
            <th>Tool</th>
            <th width='90%'>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% with report.hitterstats_set.all|order_by_custom_stat as stats %}
        {% for stat in stats %}
        {% if stat.stat != "Overall" %}
        <tr>
            <td>
                <div class='d-flex justify-content-between'>
                    <div class='stat-box' style="color: #fff; font-weight: bold; width: 2.2em">
                    {{stat.value}}
                    </div>
                    <div class='stat-box' style="color: #fff; font-weight: bold; width: 2.2em">
                        {{stat.futurevalue}}
                    </div>
                </div>
            </td>
        </div>
            </td>
            <td>{{stat.stat}}</td>
            <td>{{stat.comment}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
<div class='d-flex justify-content-end'>
    <a href="/delete/hitter/{{report.id}}" class='btn btn-danger'>
        Delete Report
    </a>
</div>
{% endblock %}
