{% extends "master.html" %}
{% load team_id_to_code %}
{% load get_stat_by_name %}
{% load order_by_custom_stat %}

{% block title %} {{report.name}} | Scout {% endblock %}
{% block content %}
<div class='d-flex justify-content-between my-2'>
    <h2>View Hitting Report</h2>
    <div>
        <a href="/hitter-report/create" class='btn scout-btn mr-2'>Create New Report</a>
        <a href="/" class='btn scout-btn'>Back to Reports</a>
    </div>
</div>
{% include 'player_info.html' with report=report type='pitcher' %}
<table class='table table-borderless hitter-table mt-2'>
    <thead>
        <tr>
            <th>Grade/FV</th>
            <th>Pitch Type</th>
            <th>Velo</th>
            <th width='80%'>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% with report.pitcherstats_set.all as pitches%}
        {% for pitch in pitches %}
        <tr>
            <td>
                <div class='d-flex justify-content-between'>
                    <div class='stat-box' style="color: #fff; font-weight: bold; width: 2.2em">
                    {{pitch.value}}
                    </div>
                    <div class='stat-box' style="color: #fff; font-weight: bold; width: 2.2em">
                        {{pitch.futurevalue}}
                    </div>
                </div>
            </td>
            <td>{{pitch.pitch_type}}</td>
            <td>{{pitch.velo_low}}-{{pitch.velo_high}}</td>
            <td>{{pitch.comments}}</td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
<div class='d-flex justify-content-end'>
    <a href="/hitter-report/delete/{{report.id}}" class='btn btn-danger'>
        Delete Report
    </a>
</div>
{% endblock %}
